.swiper {
    background-color: #FFF;
    margin: -50px auto 0;
    max-width: 1200px;
    overflow: unset;
    
    @media screen and (max-width: $tablet) {
        margin: -170px 65px 0 19px;
    }

    .swiper-wrapper {
        background-color: #f4f3f3;
    
        .swiper-slide {
            border: 1px solid #e6e6e6;
            text-align: center;
            background-color: #FFF;
            padding: 15px 15px 31px;

            img {
                width: 100%;
            }
        }
    }

    .swiper-button-disabled {
        display: none;
    }

    [class^="swiper-button-"] {
        border-radius: 50%;
        padding: 34px;
        background-color: #FFF;
        box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.16);
        
        &::after {
            transform: scale(0.55);
            color: #164194;
        }
    }
    
    .swiper-button-next {
        right: -15px;

        &::after {
            margin-left: 5px;
        }
    }

    .swiper-button-prev {
        left: 5px;
    }

    .swiper-button-right {
        &::after {
            margin-right: 5px;
        }
    }
}